@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4
  }

  button {
    @apply text-white border bg-green-600 border-green-600
    hover:bg-transparent hover:text-green-600 rounded-md
  }
}